body{
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    background: white;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
}
.container{
    margin: auto;
    width: 500px;
    max-width: 90%;
}  
.container form{
    width: 400px;
    height: 300px;
    padding: 50px;
    background:smoke wheat
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .3);
    margin-top: 100px;
}
.container form h1{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.container form .form-control{
    width: 350px;
    height: 20px;
    background: white;
    border-radius: 5px;
    border: 1px solid skyblue;
    margin: 10px 0 10px 0;
    padding: 0 10px;
}
.container form .btn{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    background-color:rgb(6, 114, 156) ;
    cursor: pointer;
    font-size: medium;
    color: rgba(255, 255, 255, 0.747);
    text-transform: uppercase;
    transition: .3s;
}
.container form .btn:hover{
    opacity: .7;
}
.container form p{
    margin: 2px;
    padding: 5px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
.container form p:hover{
    opacity: .7;
    cursor: pointer;
}